{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "^react/(.*)$",
    "antd",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@apis/(.*)$",
    "^@services/(.*)$",
    "^@hooks/(.*)$",
    "^types/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
