/*
#################################################
C O L O R S
#################################################
*/

$white: #ffffff;
$light-blue: rgb(137, 207, 240);
$green: rgb(4, 166, 109);
$red: rgb(208, 48, 73);
$gray: rgb(112, 122, 138);
$light-yellow: rgb(254, 246, 216);
$yellow: rgb(206, 156, 36);
